@charset "UTF-8";
body {
  margin: 0;
  height: 100%;
  width: 100%; }

.background {
  /* définir les sizes de l'mage de backgroud */
  margin-left: 4.6%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9; }
  .background img {
    width: 95.4%;
    height: 100%;
    position: absolute; }

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 14%;
  width: 5em;
  position: fixed;
  height: 100%;
  background-color: black; }
  .nav_item {
    display: block;
    padding: 19% 16px; }
    .nav_item--img {
      height: 40px;
      width: 40px; }
