body {
  margin: 0; }

.hero_image {
  background-image: url(../img/background.png);
  height: 869px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 6%;
  opacity: 0.98;
  min-height: 869px; }
  @media only screen and (max-width: 1000px) {
    .hero_image {
      margin-left: 0%; } }

.navbar .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 12%;
  width: 6%;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto; }
  @media only screen and (max-width: 1000px) {
    .navbar .nav {
      display: none;
      position: fixed; } }
  .navbar .nav_item {
    display: block;
    padding: 13% 20px;
    text-decoration: none; }
    .navbar .nav_item--img {
      height: 45px;
      width: 45px; }

.hero_text {
  margin-left: 5%;
  padding: 1px 6px;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white; }
  .hero_text_title {
    padding-top: 35%;
    line-height: 1.8;
    padding-bottom: 10%;
    color: white;
    font-family: "poppins";
    font-size: 36px;
    font-weight: bold; }
    @media only screen and (max-width: 768px) {
      .hero_text_title {
        font-size: 24px; } }
    .hero_text_title--name {
      color: #F50996; }
      @media only screen and (max-width: 768px) {
        .hero_text_title--name {
          font-size: 24px; } }
  .hero_text_button {
    background: none;
    border: 2px solid #39EA00;
    border-radius: 5px;
    padding: 3% 6%;
    text-decoration: none;
    color: #39EA00;
    font-family: "poppins";
    font-size: 24px;
    font-weight: bold; }
    @media only screen and (max-width: 768px) {
      .hero_text_button {
        font-size: 20px;
        padding: 2% 4%; } }
  .hero_text_reseaux {
    margin-left: -10%;
    padding-top: 4%; }
    @media only screen and (max-width: 1000px) {
      .hero_text_reseaux {
        margin-left: -15%; } }
  .hero_text_reseaux--icon {
    width: 24px;
    height: 24px;
    padding-left: 1.5%;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .hero_text_reseaux--icon {
        width: 19px;
        height: 19px;
        padding-left: 0.8%; } }

@media only screen and (max-width: 1000px) {
  #burger {
    z-index: 6;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    background: linear-gradient(75deg, #000000 10%, #F50996);
    font-size: 32px;
    padding: 20px 16px 32px 32px;
    border-radius: 0% 0% 0% 100%;
    transition: 1s;
    cursor: pointer; }
  #quit {
    z-index: 6;
    position: fixed;
    top: 0;
    padding: 16px;
    color: white;
    font-size: 16px;
    display: none;
    cursor: pointer; }
  #links a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: 'Roboto';
    z-index: 10; } }

#links {
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  padding: 0;
  justify-content: space-around; }

@media only screen and (min-width: 1000px) {
  .material-icons {
    display: none; } }

.projet {
  margin-left: 5%;
  padding: 1px 16px;
  min-height: 870px;
  background-color: black;
  opacity: 0.86; }
  @media only screen and (max-width: 1000px) {
    .projet {
      margin-left: 0%; } }
  .projet_name {
    padding-top: 3%;
    padding-left: 3%;
    color: white;
    font-family: "poppins";
    font-size: 28px;
    font-weight: bold; }
  .projet_discription {
    color: #707070;
    font-family: "poppins";
    font-size: 19px;
    font-weight: 400;
    padding-left: 7%; }
  .projet_button {
    padding: 1% 3%;
    margin-left: 11%;
    margin-top: 2%; }
    @media only screen and (max-width: 1000px) {
      .projet_button {
        width: 80%; } }
    .projet_button a {
      text-decoration: none;
      font-size: 18px;
      color: black; }
  .projet_reseaux {
    margin-left: 70%;
    margin-top: -5%; }
    @media only screen and (max-width: 1000px) {
      .projet_reseaux {
        margin-left: 10%;
        margin-top: 10%; } }
    .projet_reseaux img {
      width: 65px;
      height: 65px; }
      @media only screen and (max-width: 1000px) {
        .projet_reseaux img {
          width: 47px;
          height: 47px; } }
  .projet .slideshow-container_img1 img, .projet .slideshow-container_img2 img, .projet .slideshow-container_img3 img {
    margin-left: 17%;
    padding-top: 4%;
    width: 60%;
    height: 30%; }
    @media only screen and (max-width: 1000px) {
      .projet .slideshow-container_img1 img, .projet .slideshow-container_img2 img, .projet .slideshow-container_img3 img {
        width: 80%;
        height: 50%;
        margin-left: 10%; } }
  .projet_partie1, .projet_partie2, .projet_partie3 {
    margin-left: 3%;
    color: #707070; }
    .projet_partie1--title, .projet_partie2--title, .projet_partie3--title {
      padding-top: 4%;
      padding-left: 3%;
      color: white;
      font-family: "poppins";
      font-size: 28px;
      font-weight: bold; }
      @media only screen and (max-width: 1000px) {
        .projet_partie1--title, .projet_partie2--title, .projet_partie3--title {
          font-size: 22px; } }
    .projet_partie1--para, .projet_partie1--list, .projet_partie2--para, .projet_partie2--list, .projet_partie3--para, .projet_partie3--list {
      color: #707070;
      font-family: "poppins";
      font-size: 19px;
      font-weight: 400;
      padding-left: 7%;
      padding-right: 7%; }
      @media only screen and (max-width: 1000px) {
        .projet_partie1--para, .projet_partie1--list, .projet_partie2--para, .projet_partie2--list, .projet_partie3--para, .projet_partie3--list {
          font-size: 15px; } }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #39EA00;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: white; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }

@media only screen and (min-width: 1000px) {
  .material-icons {
    display: none; } }
