@import 'header.scss';

@mixin forminputs {
    width: 100%;
    border-radius: 5px;
  
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    background-color: #3C3C3C;
}

.contact_image{
    background-image: url(../img/contact.jpg); 
    @include img(869px,center,no-repeat, cover, relative, 5%,0.98);
    @media only screen and (max-width: 768px){
        margin-left: 0%;
        height: 100%;
    }
    

  .contact_text{
    margin-left: 5%;
    padding:1px 16px;
    &_title{
        text-align:center;
        @include font (#F50996, 'poppins', 36px, bold);
        @media only screen and (max-width: 768px){
            font-size: 26px;
        }

    }
    &_para{
        
        text-transform : uppercase;
        @include font (#39EA00, 'poppins', 24px, bold);
        @media only screen and (max-width: 768px){
            font-size: 18px;
            padding-left:-5%;
        }

        text-align: center;

    }
}

}
.contact_text_info {
    width: 80%;
    //margin: auto;
    padding-top: 60px;
    padding-left: 15%;
    @media only screen and (max-width: 768px){
        padding-left:  7%;
    }
    .input-fields {
        display: grid;
        input[type=text], [type=email], [type=number] {
            @include forminputs;
        }
        .message {
            textarea {
                @include forminputs;
                height: 200px;
                font-family: 'Poppins', sans-serif;
                
            }
        }
        .contact-button {
                background-color: rgba($color:#F50996 , $alpha: 0.8);
                border: none;
                width: 100%;
                height: 40px;
                @include font (white, 'poppins', 15px, bold);


                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 60px;
        }
        .contact-button:hover {
            background-color: rgba($color: #F50996, $alpha: 1.0);
        }
    }
}
.container{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 2;
    width: 100%;
    @media only screen and (max-width: 768px){
        grid-template-rows: 2;
        grid-template-columns: 1;
    }
    
    .contact_text_info, .contact_text_reseaux{
        grid-row: 1;
        grid-column: 1;
        @media only screen and (max-width: 768px){
            grid-row: 1;
            grid-column: 1;
        }
    }
    .contact_text_map{
        grid-row: 1;
        grid-column: 2;
  
        @media only screen and (max-width: 768px){
            grid-row: 2;
            grid-column: 1;

        }
 
    }

    .contact_text_reseaux--icon{
        padding-left: 3%;
        @media only screen and (max-width: 768px){
            padding-left: 1.5%;
        }

        img{
            widows: 35px;
            height: 35px;
            @media only screen and (max-width: 768px){
                
                widows: 25px;
                height: 25px;
            }
        }
    }
    
}