
body{
    margin:0;
  
    
}
@mixin img ($h, $bg_p, $bg_re, $bg_size, $p, $m_left, $op){
    height: $h;
    background-position: $bg_p;
    background-repeat: $bg_re;
    background-size: $bg_size;
    position: $p;
    margin-left: $m_left;
    opacity: $op;

}
@mixin font ($col, $fm, $fs, $fw){
        color: $col;
        font-family: $fm;
        font-size: $fs;
        font-weight: $fw;

}

.hero_image{
    background-image: url(../img/background.png);
    @include img(869px,center,no-repeat, cover, relative, 6%,0.98);
    min-height:869px;
     
    //padding: 0;
    @media only screen and (max-width: 1000px){
        margin-left: 0%;
    }
    
}

.navbar{
    .nav{
        @media only screen and (max-width: 1000px) {
            display:none;
            position: fixed;
        }

        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: 12%;
        width: 6%;
        background-color: black;
        position: fixed;
        height: 100%;
        overflow: auto;
        &_item{
            display: block;
            padding: 13% 20px;
            
            text-decoration: none;
            &--img{
                height: 45px;
                width: 45px;
            }
        }
    }
}

.hero_text{
 
    margin-left: 5%;
    padding: 1px 6px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
 
    &_title{
        padding-top: 35%;
        line-height: 1.8;
        padding-bottom: 10%;
      
        @include font (white, 'poppins', 36px, bold);
        @media only screen and (max-width: 768px){
            font-size: 24px;

        }
        &--name{
            color:#F50996;
            @media only screen and (max-width: 768px){
                font-size: 24px;  
       
        }
    
 
    }  
     
}
    &_button{
        background:none;
        border: 2px solid #39EA00;
        border-radius: 5px;
        padding: 3% 6%;
        text-decoration: none;
        @include font (#39EA00, 'poppins', 24px, bold);
        @media only screen and (max-width: 768px){
            font-size: 20px;
            padding: 2% 4%;
        }

    }
    &_reseaux{
        margin-left: -10%;
        padding-top: 4%;
        @media only screen and (max-width: 1000px){
            margin-left: -15%;
        }
    }
    &_reseaux--icon{
        width: 24px;
        height: 24px;
        padding-left: 1.5%;
        text-align: center;
        @media only screen and (max-width: 768px){
            width: 19px;
            height: 19px;
            padding-left: 0.8%;
        }
    }
}

@media only screen and (max-width: 1000px){
#burger{
    z-index: 6;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    background: linear-gradient(75deg, #000000 10%, #F50996);;
    font-size: 32px;
    padding: 20px 16px 32px 32px;
    border-radius: 0% 0% 0% 100%;
    transition: 1s;
    cursor: pointer;
  }
  
  #quit{
    z-index: 6;
    position: fixed;
    top: 0;
    padding: 16px;
    color: white;
    font-size: 16px;
    display: none;
    cursor: pointer;
    

  }

  #links a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: 'Roboto';
    z-index: 10;
  }

}
#links{
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    padding: 0;
    justify-content: space-around;
  }
 
