body{
    margin: 0;
    height: 100%;
    width: 100%;
}
.background{
    /* définir les sizes de l'mage de backgroud */
     img{
   width: 95.4%;
   height: 100%;
   position: absolute;

     }
    // pour faire du décalage entre le navbar et image background
   margin-left: 4.6%;

    // centrer l'image du background et jouer sur l'opacité
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;

}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 14%;
    width: 5em;
    position: fixed;
    height: 100%;
    background-color: black;
    &_item{
        display: block;
        padding: 19% 16px; 
      
        &--img{
           
            height:  40px;
            width: 40px;
        }
            }
}