@import 'header.scss';

.portfolio_text{
    margin-left: 5%;
    padding:1px 16px;
    min-height:870px;
    background-color: black;
    opacity: 0.86;
    &_title{
        color:#F50996;
        font-family: 'poppins';
        font-size: 36px;
        text-align:center;
    }
    &_projets{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        padding: 20%;
        padding-top:  3%;
        
        &--p1,&--p2,&--p3,&--p4{
         height: 250px;
        width: 400px;
        padding: 6%;
        padding-bottom: 15%;
        }

        &--p1{
            grid-row: 1;
            grid-column: 1;
        }
        &--p2{
            grid-row: 1;
            grid-column: 2;
        }
        &--p3{
            grid-row: 2;
            grid-column: 1;
        }
        &--p4{
            grid-row: 2;
            grid-column: 2;
        }

    }
}