@import 'header.scss';

@mixin pos($ht,$w,$pl,$pt,$p){
    height: $ht;
    width: $w;
    padding-left:$pl;
    padding-top: $pt;
    position: $p;
}
.portfolio_text{
    margin-left: 5%;
    padding:1px 16px;
    min-height:870px;
    background-color: black;
    opacity: 0.86;
    @media only screen and (max-width: 768px){
        margin-left: 0%;
    }
    &_title{

        text-align:center;
        @include font (#F50996, 'poppins', 36px, bold);
        @media only screen and (max-width: 768px){
            font-size: 28px;
        }

    }
    &_img{
        
        opacity: 0.5;
        &--g{
            @include pos(55px,55px,8%,28%, absolute);
        }
        &--d{
            @include pos(55px,55px,82%,27%, absolute);

        }
    }
    &_projets{
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        padding: 20%;
        padding-top:  3%;
        @media only screen and (max-width: 768px){
            grid-template-columns: 1;
            grid-template-rows: 4;
            padding: 10%;
        }
        
        &--p1,&--p2,&--p3,&--p4{
         height: 250px;
        width: 400px;
        padding: 8%;
        padding-bottom: 15%;
        @media only screen and (max-width: 768px){
       
            padding: 4%;
            padding-bottom: 8%;
            height: 250px;
            width: 100%;
        }
        }

        &--p1{
            grid-row: 1;
            grid-column: 1;
            @media only screen and (max-width: 768px){
                grid-row: 1;
                grid-column: 1;
            }
        }
        &--p2{
            grid-row: 1;
            grid-column: 2;
            @media only screen and (max-width: 768px){
                grid-row: 2;
                grid-column: 1;
            }
        }
        &--p3{
            grid-row: 2;
            grid-column: 1;
            @media only screen and (max-width: 768px){
                grid-row: 3;
                grid-column: 1;
            }
        }
        &--p4{
            grid-row: 2;
            grid-column: 2;
            @media only screen and (max-width: 768px){
                grid-row: 4;
                grid-column: 1;
            }
        }

    }
}