@import 'header.scss';



@mixin pos($ht,$w,$pl,$pt,$p){
    height: $ht;
    width: $w;
    padding-left:$pl;
    padding-top: $pt;
    position: $p;
}
.portfolio_text{
    margin-left: 5%;
    padding:1px 16px;
    min-height:870px;
    background-color: black;
    opacity: 0.86;
    @media only screen and (max-width: 768px){
        margin-left: 0%;
    }
    .column {
        float: left;
        width: 33.33%;
        display: none; /* Hide all elements by default */

        @media only screen and (max-width: 768px){
            width: 70%;
            margin-left: 10%;
        }
      }

      .show {
        display: block;
      }

      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
    #myBtnContainer{
        margin-left: 25%;
        padding: 3%;
        @media only screen and (max-width: 768px){
            margin-left: 7%;
        }
        .btn {
            border: 1px solid white;
           border-radius: 5px;
            padding: 12px 16px;
            background-color: black;
            cursor: pointer;
            color: #F50996;
            margin-left: 5%;
          }
          
          .btn:hover {
            background-color: #ddd;
          }
          
          .btn.active {
            background-color: #39EA00;
            color: white;
          }
    }
    &_title{

        text-align:center;
        @include font (#F50996, 'poppins', 36px, bold);
        @media only screen and (max-width: 768px){
            font-size: 28px;
        }

    }
    &_img{
        
        opacity: 0.5;
        &--g{
            @include pos(55px,55px,8%,28%, absolute);
        }
        &--d{
            @include pos(55px,55px,82%,27%, absolute);

        }
    }
    &_projets{
     
        
        &--p1,&--p2,&--p3,&--p4{
         height: 250px;
        width: 400px;
        padding: 8%;
        padding-bottom: 15%;
        margin-left: 5%;
        @media only screen and (max-width: 768px){
       
            padding: 4%;
            padding-bottom: 8%;
            height: 250px;
            width: 100%;
        }
        }


    }
}

