@import 'header.scss';

.propos_image{
    // background-image: url(../img/107.png); 
    // @include img(869px,center,no-repeat, cover, relative, 5%,0.98);

    margin-left: 5%;
    padding:1px 16px;
    min-height:870px;
    background-color: black;
    opacity: 0.86;

    z-index: 1;

  .propos_title{
    margin-left: 1%;
    padding:1px 16px;
    &--t{
   
        text-align:center;
        @include font (#F50996, 'poppins', 36px, bold);

        text-transform: uppercase;
    }
  }
}
.aboutMe{

  width: 70%;
  height: 60%;
  background:black;
  opacity: 0.50;
  z-index: 2;
  position: absolute;
  margin: -40% 25% 7% 17%;
  &_button1{
   
    display:grid;
    grid-template-rows: 1;
    grid-template-columns: 3;
    display:none;

    &--prq{
      grid-row: 1;
      grid-column: 1;
      background:#F50996;
     

    }
    &--ser{
      grid-row: 1;
      grid-column: 2;
      background: #39EA00;
      opacity: 0.7;

    }
    &--compt{
      grid-row: 1;
      grid-column: 3;
      background: #39EA00;
      opacity: 0.7;

    }
    &--prq,&--ser,&--compt{
      color:white;
      font-weight: bold;
      font-family: 'poppins';
      font-size: 20px;
      text-align: center;
      padding: 2% 3%;
      border: 1px solid black;
    }
  }


  &_button2{
   
    display:grid;
    grid-template-rows: 1;
    grid-template-columns: 3;
    display:none;

    &--prq{
      grid-row: 1;
      grid-column: 1;
      background: #39EA00;
      opacity: 0.7;
     

    }
    &--ser{
      grid-row: 1;
      grid-column: 2;
      background: #F50996;

    }
    &--compt{
      grid-row: 1;
      grid-column: 3;
      background: #39EA00;
      opacity: 0.7;

    }
    &--prq,&--ser,&--compt{
      color:white;
      font-weight: bold;
      font-family: 'poppins';
      font-size: 20px;
      text-align: center;
      padding: 2% 3%;
      border: 1px solid black;
    }
  }


  &_button3{
   
    display:grid;
    grid-template-rows: 1;
    grid-template-columns: 3;
    //display:none;

    &--prq{
      grid-row: 1;
      grid-column: 1;
      background: #39EA00;
      opacity: 0.7;
     

    }
    &--ser{
      grid-row: 1;
      grid-column: 2;
      background: #39EA00;
      opacity: 0.7;

    }
    &--compt{
      grid-row: 1;
      grid-column: 3;
      background:#F50996;

    }
    &--prq,&--ser,&--compt{
      color:white;
      font-weight: bold;
      font-family: 'poppins';
      font-size: 20px;
      text-align: center;
      padding: 2% 3%;
      border: 1px solid black;
    }
  }

&_info{
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 2;
  display:none;

  &--img{
    grid-row: 1;
    grid-column: 1;
    img{
      height: 55%;
      width: 55%;
      padding: 5% 25%;
    }
  
  }
  &--para{
    grid-row: 1;
    grid-column: 2;
    color: white;
    text-align: center;
    font-family: 'poppins';
    font-weight: 400;
    padding: 15% 15%;
  }
}
&_service{
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 4;
  display: none;
  img{
    width: 27%;
    height: 27%;
    padding: 19% 36% 5%;
  }
  h4{
    color: #39EA00;
    text-align:center;
    font-family:'poppins';

  }
  p{
    text-align: center;
    color:white;
    font-family: 'poppins';
    font-size:14px;
    padding: 5% 10%;

  }
  &--vite{
    grid-row: 1;
    grid-column: 1;
  }
  &--Intui{
    grid-row: 1;
    grid-column: 2;
  }
  &--Dynam{
    grid-row: 1;
    grid-column: 3;
  }
  &--Resp{
    grid-row: 1;
    grid-column: 4;
  }

}
 
}
