@import 'header.scss';

.propos_image{
    background-image: url(../img/107.png); 
    @include img(869px,center,no-repeat, cover, relative, 5%,0.98);

  .propos_title{
    margin-left: 5%;
    padding:1px 16px;
    &--t{
   
        text-align:center;
        @include font (#F50996, 'poppins', 36px, bold);

        text-transform: uppercase;
    }
  }
}